@model IEnumerable<ConceptArchitect.BookManagement.Author>


<a asp-action="Add" class='btn-secondary btn btn-sm'>Add New</a>

<div class="row">
    
    @foreach (var author in Model)
    {
        <div style="padding:10px;" class='col col-md-3 .bg-secondary'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@author.Photo" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title">@author.Name</h5>
                    <p class="card-text">author biography</p>
                    <a asp-action="details" asp-route-id="@author.Id" class="btn  btn-info">Details</a>
                    <a asp-action="Update" asp-route-id="@author.Id" class="btn  btn-warning">Edit</a>
                    <a asp-action="delete" asp-route-id="@author.Id" class="btn  btn-danger" onclick="confirmDelete()">Delete</a>
                    
                </div>
            </div>
        </div>
    }
</div>