
@model IEnumerable<ConceptArchitect.BookManagement.Book>
@*@using ConceptArchitect.BookManagement
@model dynamic*@


<a asp-action="Add" class='btn-secondary btn btn-sm'>Add New</a>
<div class="input-group">
        <form class="form-inline" asp-action="index" method="get">
            <label for="term"></label>
            <input type="text" id="search" name="term" placeholder="Search a Book" value="@ViewData["term"]" class="form-control" />
        <span class="input-group-addon"> </span>
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>
    @*</div>*@
</div>
<style>
    .card {
        border-radius: 10px;
        background-color: black;
    }

    .card-img-top {
        border-radius: 25px;
    }


    .card-title {
        color: white;
    }

    .card-text {
        color: white;
    }
</style>
<br />
    <div class="row">
        @foreach (var book in Model)
        {
            <div class='col col-md-3'>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@book.Cover" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                    <marquee>
                        <p class="card-text">@book.Description</p>
                    </marquee>
                        <a asp-action="Details" asp-route-id="@book.Id" class="btn  btn-info">Details</a>
                        <a asp-action="Update" asp-route-id="@book.Id" class="btn  btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@book.Id" class="btn  btn-danger">Delete</a>
                    </div>
                </div>
            </div>

        }



    </div>
@*</table>*@
    
